@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {

    *::selection{
        background-color: rgb(0, 236, 0);
        color:black;
    }
    html,
    body {
        background-color: rgb(0, 0, 0);
    }
    table{
        position: relative;
        z-index:2;
        background-color: rgba(0, 0, 0, 0);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
    }
    table,td{
        border-collapse: collapse;
    }
    td{
        border:1px dashed rgb(120, 120, 120);
        padding-block: 15px;
        
       
        
    }
    td:first-child
    {
        font-weight: 700;
        padding-left:8px;
        text-transform: uppercase;
    }
    td:last-child
    {
        text-transform: capitalize;
        padding-left:10px;
    }
    tr{
        display: flex;
    }
    .loc-icon{
        animation: rot 2000ms linear infinite;
    }
    @keyframes rot {
        0%,100%{
            transform: rotate(15deg);
        }
        50%{
            transform: rotate(-15deg);
        }
        
    }
    .fix-pic{
        position: fixed;
        width:200px;
        height:200px;
        /* border:2px solid red; */
        bottom:20px;
        right:0px;
    
    }
}